CREATE OR REPLACE FUNCTION NCKH_GET_LOG ( p_ma_chuc_nang IN VARCHAR2 , p_ma_cb IN VARCHAR2 ) RETURN VARCHAR2 AS 
	V_TEN_CN	VARCHAR2(100); V_RESULT 	VARCHAR2(1000);	 V_COUNT 	NUMBER(1);
BEGIN
	SELECT LOG_NCKH INTO V_RESULT FROM NCKH_LOGS WHERE FK_MA_CAN_BO = p_ma_cb;
	SELECT TEN_CHUC_NANG INTO V_TEN_CN	FROM CHUC_NANG_PORTAL WHERE MA_CHUC_NANG = p_ma_chuc_nang;
	SELECT COUNT(*)	INTO V_COUNT FROM NCKH_LOGS
	WHERE LOG_NCKH   like  '%' || V_TEN_CN || '%' AND FK_MA_CAN_BO = p_ma_cb;

	IF V_COUNT = 0 THEN
		IF V_RESULT is NULL THEN 	
			V_RESULT:= V_TEN_CN;
		ELSE
			V_RESULT:= V_RESULT || '; ' || V_TEN_CN;
		END IF;		
	ELSE
		V_RESULT:= V_RESULT;
	END IF;
  
  RETURN V_RESULT;
  
END NCKH_GET_LOG;

--CAN_BO_GIANG_DAY-----------------------------------
CREATE OR REPLACE TRIGGER TRI_BU_CAN_BO_GIANG_DAY
BEFORE UPDATE ON CAN_BO_GIANG_DAY
FOR EACH ROW 
DECLARE
	V_LOGS 	VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('001', :NEW.MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS	WHERE FK_MA_CAN_BO = :NEW.MA_CAN_BO; 
END;
/
CREATE OR REPLACE TRIGGER TRI_AI_CAN_BO_GIANG_DAY
AFTER INSERT ON CAN_BO_GIANG_DAY
FOR EACH ROW 
BEGIN
	INSERT INTO NCKH_LOGS(FK_MA_CAN_BO) VALUES(:NEW.MA_CAN_BO);
END;
/

---NCKH_UD_THUC_TIEN-----------------------------------
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_UD_THUC_TIEN
BEFORE INSERT OR UPDATE ON NCKH_UD_THUC_TIEN 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('026', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_UD_THUC_TIEN
BEFORE DELETE  ON NCKH_UD_THUC_TIEN
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN  
	SELECT NCKH_GET_LOG('026', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_QT_NGOAI_NGU--------------------------------------------------------------------
alter table NCKH_QT_NGOAI_NGU
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_QT_NGOAI_NGU
BEFORE INSERT OR UPDATE ON NCKH_QT_NGOAI_NGU 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('027', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_QT_NGOAI_NGU
BEFORE DELETE  ON NCKH_QT_NGOAI_NGU
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN  
	SELECT NCKH_GET_LOG('027', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/
--NCKH_QUA_TRINH_CONG_TAC--------------------------------------------------------------
alter table NCKH_QUA_TRINH_CONG_TAC
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_QT_CONG_TAC
BEFORE INSERT OR UPDATE ON NCKH_QUA_TRINH_CONG_TAC 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('028', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_QT_CONG_TAC
BEFORE DELETE  ON NCKH_QUA_TRINH_CONG_TAC
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('028', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/
--NCKH_QUA_TRINH_DAO_TAO--------------------------------------------------------------
alter table NCKH_QUA_TRINH_DAO_TAO
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_QT_DAO_TAO
BEFORE INSERT OR UPDATE ON NCKH_QUA_TRINH_DAO_TAO 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('029', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_QT_DAO_TAO
BEFORE DELETE  ON NCKH_QUA_TRINH_DAO_TAO
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('029', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/
--NCKH_LVNC_KHCN_CBGD--------------------------------------------------------------
alter table NCKH_LVNC_KHCN_CBGD
add TIME_STRAP date;

CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_LVNC_KHCN_CBGD
BEFORE INSERT OR UPDATE ON NCKH_LVNC_KHCN_CBGD 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('030', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_LVNC_KHCN_CBGD
BEFORE DELETE  ON NCKH_LVNC_KHCN_CBGD
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('030', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/
--HUONG_DE_TAI--------------------------------------------------------------
alter table HUONG_DE_TAI
add TIME_STRAP date;

CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_HUONG_DE_TAI
BEFORE INSERT OR UPDATE ON HUONG_DE_TAI 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('031', :NEW.MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_HUONG_DE_TAI
BEFORE DELETE  ON HUONG_DE_TAI
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('031', :OLD.MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.MA_CAN_BO;
END;
/

--DE_TAI_NCKH--------------------------------------------------------------
alter table DE_TAI_NCKH
add TIME_STRAP date;

CREATE OR REPLACE TRIGGER TRI_BIU_DE_TAI_NCKH
BEFORE INSERT OR UPDATE ON DE_TAI_NCKH 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('003', :NEW.MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_DE_TAI_NCKH
BEFORE DELETE  ON DE_TAI_NCKH
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('003', :OLD.MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.MA_CAN_BO;
END;

--SACH--------------------------------------------------------------
alter table SACH
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_SACH
BEFORE INSERT OR UPDATE ON SACH 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('005', :NEW.MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_SACH
BEFORE DELETE  ON SACH
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('005', :OLD.MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.MA_CAN_BO;
END;
/

--CONG_TRINH_KHOA_HOC--------------------------------------------------------------
alter table CONG_TRINH_KHOA_HOC
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_CTKH
BEFORE INSERT OR UPDATE ON CONG_TRINH_KHOA_HOC 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('004', :NEW.MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_CTKH
BEFORE DELETE  ON CONG_TRINH_KHOA_HOC
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('004', :OLD.MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.MA_CAN_BO;
END;
/

--NCKH_GIAI_THUONG_KHCN--------------------------------------------------------------
alter table NCKH_GIAI_THUONG_KHCN
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_GIAI_THUONG
BEFORE INSERT OR UPDATE ON NCKH_GIAI_THUONG_KHCN 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('032', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_GIAI_THUONG
BEFORE DELETE  ON NCKH_GIAI_THUONG_KHCN
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('032', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_BANG_SANG_CHE--------------------------------------------------------------
alter table NCKH_BANG_SANG_CHE
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_SANG_CHE
BEFORE INSERT OR UPDATE ON NCKH_BANG_SANG_CHE 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('033', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_SANG_CHE
BEFORE DELETE  ON NCKH_BANG_SANG_CHE
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('033', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_BANG_GP_HUU_ICH--------------------------------------------------------------
alter table NCKH_BANG_GP_HUU_ICH
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_GIAI_PHAP
BEFORE INSERT OR UPDATE ON NCKH_BANG_GP_HUU_ICH 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('034', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_GIAI_PHAP
BEFORE DELETE  ON NCKH_BANG_GP_HUU_ICH
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('034', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_THANH_TUU_KHCN--------------------------------------------------------------
alter table NCKH_THANH_TUU_KHCN
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_THANH_TUU
BEFORE INSERT OR UPDATE ON NCKH_THANH_TUU_KHCN 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('035', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_THANH_TUU
BEFORE DELETE  ON NCKH_THANH_TUU_KHCN
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('035', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_THAM_GIA_CHUONG_TRINH--------------------------------------------------------------
alter table NCKH_THAM_GIA_CHUONG_TRINH
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_THAM_GIA_CT
BEFORE INSERT OR UPDATE ON NCKH_THAM_GIA_CHUONG_TRINH 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('036', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_THAM_GIA_CT
BEFORE DELETE  ON NCKH_THAM_GIA_CHUONG_TRINH
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('036', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_THAM_GIA_HH_TC_HN--------------------------------------------------------------
alter table NCKH_THAM_GIA_HH_TC_HN
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_THAM_GIA_HH
BEFORE INSERT OR UPDATE ON NCKH_THAM_GIA_HH_TC_HN 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('037', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_THAM_GIA_HH
BEFORE DELETE  ON NCKH_THAM_GIA_HH_TC_HN
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('037', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_THAM_GIA_TRUONG_VIEN--------------------------------------------------------------
alter table NCKH_THAM_GIA_TRUONG_VIEN
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_THAM_GIA_TRUONG
BEFORE INSERT OR UPDATE ON NCKH_THAM_GIA_TRUONG_VIEN 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('038', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_THAM_GIA_TRUONG
BEFORE DELETE  ON NCKH_THAM_GIA_TRUONG_VIEN
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('038', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_HD_LUAN_AN--------------------------------------------------------------
alter table NCKH_HD_LUAN_AN
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_HD_LUAN_AN
BEFORE INSERT OR UPDATE ON NCKH_HD_LUAN_AN 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('039', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_HD_LUAN_AN
BEFORE DELETE  ON NCKH_HD_LUAN_AN
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('039', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_KINH_NGHIEM_QLDG--------------------------------------------------------------
alter table NCKH_KINH_NGHIEM_QLDG
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_KINH_NGHIEM_QLDG
BEFORE INSERT OR UPDATE ON NCKH_KINH_NGHIEM_QLDG 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('040', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_KINH_NGHIEM_QLDG
BEFORE DELETE  ON NCKH_KINH_NGHIEM_QLDG
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('040', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/

--NCKH_GT_CHUYEN_GIA--------------------------------------------------------------
alter table NCKH_GT_CHUYEN_GIA
add TIME_STRAP date;
/
CREATE OR REPLACE TRIGGER TRI_BIU_NCKH_GT_CHUYEN_GIA
BEFORE INSERT OR UPDATE ON NCKH_GT_CHUYEN_GIA 
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN
	:NEW.TIME_STRAP:= SYSDATE;
	SELECT NCKH_GET_LOG('041', :NEW.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :NEW.FK_MA_CAN_BO;
END;
/
CREATE OR REPLACE TRIGGER TRI_DEL_NCKH_GT_CHUYEN_GIA
BEFORE DELETE  ON NCKH_GT_CHUYEN_GIA
FOR EACH ROW 
DECLARE 
	V_LOGS VARCHAR2(1000);
BEGIN   
	SELECT NCKH_GET_LOG('041', :OLD.FK_MA_CAN_BO) INTO V_LOGS FROM DUAL;
	UPDATE NCKH_LOGS SET TIME_STRAP = SYSDATE, LOG_NCKH = V_LOGS WHERE FK_MA_CAN_BO = :OLD.FK_MA_CAN_BO;
END;
/